<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script src="https://kit.fontawesome.com/3fe9462074.js" crossorigin="anonymous"></script>

    <link href="{{ site.url }}/feed.xml" rel="alternate" type="application/rss+xml" title="{{ site.title }} Feed" />
    <link rel="stylesheet" href="/assets/css/main.css?{{site.time | date: '%s%N'}}">

    <title>{{ page.title }}</title>
</head>