article {
  .header {
    @media (min-width: map-get($grid-breakpoints, "md")) {
      padding: 2rem 0;
    }
  }

  &.post {
    h2 {
      margin-top: 3rem;

      &:first-of-type {
        margin-top: 0;
      }
    }

    h3 {
      margin-top: 2rem;
    }
  }
}
