header {
  padding: 1rem;
  position: relative;
  color: #dadada;

  @media (min-width: map-get($grid-breakpoints, "md")) {
    padding: 2rem 1rem;
  }

  &::before {
    content: '';
    background-color: #212529;
    height: 100%;
    z-index: -1;
    width: 200vw;
    display: block;
    position: absolute;
    left: -100vw;
    top: 0;
  }

  p {
    opacity: 0.7;
    margin: 0;
  }

  .logo {
    $logo-size: 48;
    $logo-border-width: $logo-size / 10;

    display: inline-block;
    position: relative;
    border: #{$logo-border-width}px solid #00c851;
    border-radius: 50%;
    width: #{$logo-size}px;
    height: #{$logo-size}px;
    vertical-align: middle;
    line-height: 1;

    &::before {
      $size: $logo-size * 0.85;
      $offset: $size / 2;
      $left-additional-offset: $logo-border-width * -1;
      $left-offset: $offset + $left-additional-offset;

      $left-offset-px: #{$left-offset}px;
      $top-offset-px: #{$offset}px;

      position: absolute;
      content: "✓";
      color: #00c851;
      display: block;
      font-size: #{$size}px;
      left: calc(50% - #{$left-offset-px});
      top: calc(50% - #{$top-offset-px});
    }
  }

  .brand {
    display: block;
    margin-bottom: 1rem;
    color: #00c851;

    p {
      display: inline-block;
      font-size: 2rem;
      margin-left: 0.8rem;
      vertical-align: middle;
    }
  }
}
