html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  margin: 0 auto;

  // Page max widths per media size
  @each $media-size, $breakpoint in $grid-breakpoints {
    @if map-has-key($container-max-widths, $media-size) {
      @media (min-width: #{$breakpoint}) {
        max-width: map-get($container-max-widths, $media-size);
      }
    }
  }
}

header {
  grid-area: header;
}

main {
  grid-area: main;

  // Introduce sidebar for lg and up
  @media (min-width: map-get($grid-breakpoints, "lg")) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "content   sidebar";
    grid-gap: 1rem;

    .content {
      grid-area: content;
    }

    aside {
      grid-area: sidebar;
    }
  }
}

footer {
  grid-area: footer;
}
