.post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  .post-list-post {
    margin: 2rem 0;

    .meta {
      opacity: 0.4;
      margin: 1rem 0;
    }
  }

  .heading {
    opacity: 1;
  }

  .continue-reading {
    .fas {
      margin-left: 0.5rem;
    }
  }
}
