.post {
  h1,
  h2,
  h3 {
    opacity: 0.7;
  }

  ol,
  ul {
    margin-bottom: 1rem;
  }

  li {
    margin: 0.5rem 0;
  }

  ol {
    ol {
      padding-left: 1rem;
    }
  }

  .heading {
    margin: 2rem 0 1rem;
  }

  .meta {
    opacity: 0.4;
    margin: 1rem 0;
  }

  .toc {
    display: none;

    @media (min-width: map-get($grid-breakpoints, "lg")) {
      display: block;
    }

    ul,
    .contents {
      @media (min-width: map-get($grid-breakpoints, "lg")) {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
  }

  .toc-item {
    .toc-item {
      @media (min-width: map-get($grid-breakpoints, "lg")) {
        color: $gray-400;
        list-style: disc;
        border-left: none;
        margin-left: 1rem;
        padding-left: 0;
      }
    }

    &:hover {
      .toc-item {
        &:hover {
          @media (min-width: map-get($grid-breakpoints, "lg")) {
            color: $gray-500;
          }
        }

        @media (min-width: map-get($grid-breakpoints, "lg")) {
          background-color: $gray-200;
        }
      }

      @media (min-width: map-get($grid-breakpoints, "lg")) {
        border-color: $gray-500;
        background-color: $gray-200;
      }
    }

    @media (min-width: map-get($grid-breakpoints, "lg")) {
      border-left: 2px solid $gray-400;
      background-color: $gray-100;
      margin: 0.5rem 0;
      padding-left: 0.5rem;
    }
  }

  .toc-anchor {
    @media (min-width: map-get($grid-breakpoints, "lg")) {
      padding: 0.25rem 0;
      display: block;
    }
  }

  blockquote {
    border-left: 2px solid $gray-400;
    opacity: 0.8;
    margin: 1rem 0;
    padding-left: 0.5rem;
  }
}
