{% assign display_author = include.display_post_meta_byline and include.author and include.authors[include.author] %}

{% if display_author %}
    {% assign author_template = '<span class="author">%author%</span>' %}

    {% if include.authors[include.author].url %}
        {% assign author_template = '<a class="author" href="%url%">%author%</a>' |
            replace: '%url%', include.authors[include.author].url
        %}
    {% endif %}
{% endif %}

<div class="meta">
    <time datetime="{{ include.date | date: '%Y-%m-%d' }}">{{ include.date | date: "%B %e, %Y" }}</time>

    {% if display_author %}
        by {{ author_template | replace: '%author%', include.authors[include.author].name }}
    {% endif %}
</div>
