<div class="header">
    {{ include.heading_template |
        replace: '%url%', include.content_item.url |
        replace: '%title%', include.content_item.title
    }}

    {% include posts/post-meta.html
        authors=site.data.authors
        author=include.content_item.author
        date=include.content_item.date
        display_post_meta_byline=include.display_post_meta_byline
    %}
</div>

{% if include.excerpt_only %}
    {% assign excerpt = include.content_item.excerpt %}
    {% assign excerpt_items = excerpt | newline_to_br | split: "<br />" %}
    {% assign first_excerpt_item = excerpt_items | first %}

    {% if first_excerpt_item contains "</h2>" %}
        {% for excerpt_item in excerpt_items offset:1 %}
            {{ excerpt_item }}
        {% endfor %}
    {% else %}
        {{ excerpt }}
    {% endif %}

    <a href="{{ include.content_item.url }}" class="continue-reading">Continue reading<i class="fas fa-caret-right"></i></a>
{% else %}
    <div class="body">
        <div class="content">
            {{ include.content_item }}
        </div>
        <aside>
            <div class="toc">
                <strong class="heading">Contents</strong>
                {% include toc.html
                    html=content
                    class="contents"
                    item_class="toc-item"
                    anchor_class="toc-anchor"
                %}
            </div>
        </aside>
    </div>
{% endif %}
