<!doctype html>
<html lang="en">
    {% include component/head.html %}
    <body class="post {% include page/id %}">
        {% include component/header.html %}
        <main>
            <article class="content post">
                <div class="header guttered-content">
                    <div class="wrapper">
                        <h1 class="heading">{{ page.title }}</h1>

                        {% include posts/post-meta.html
                            authors=site.data.authors
                            author=page.author
                            date=page.date
                            display_post_meta_byline=true
                        %}
                    </div>
                </div>

                <div class="body wrapper">
                    <div class="content guttered-content">
                        {{ page }}
                    </div>
                    <aside>
                        <div class="toc">
                            <strong class="heading">Contents</strong>
                            {% include toc.html
                                html=content
                                class="contents"
                                item_class="toc-item"
                                anchor_class="toc-anchor"
                            %}
                        </div>
                    </aside>
                </div>

            </article>
        </main>
        {% include component/footer.html %}
    </body>
</html>
