<!doctype html>
<html lang="en">
    {% include component/head.html %}
    <body class="index">
        {% include component/header.html %}
        <main class="wrapper">
            <ul class="content post-list guttered-content">
                {% for post in site.posts offset: 0 limit: site.latest_posts_length %}
                {% assign is_last_post = forloop.last %}

                <li class="post-list-post">
                    <a href="{{ post.url }}"><h2 class="heading h1">{{ post.title }}</h2></a>

                    {% include posts/post-meta.html
                        authors=site.data.authors
                        author=post.author
                        date=post.date
                        display_post_meta_byline=true
                    %}

                    {% include posts/excerpt.html content_item=post %}
                </li>

                {% endfor %}
            </ul>
            <aside></aside>
        </main>
        {% include component/footer.html %}
    </body>
</html>
